.add-member-pop-up-container {
  top: 240px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.add-member-pop-up-addmemberpopup-theme2 {
  width: 400px;
  height: 459px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.add-member-pop-up-box {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 459px;
  position: absolute;
  border-radius: 43px;
}
.add-member-pop-up-sign-up {
  top: 16px;
  left: 34px;
  width: 338px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.add-member-pop-up-text {
  color: rgba(238, 61, 18, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.add-member-pop-up-text02 {
  top: 30px;
  color: rgba(206, 143, 127, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.add-member-pop-up-separator {
  top: 76px;
  left: 0px;
  width: 400px;
  height: 3px;
  position: absolute;
}
.add-member-pop-up-first-name {
  top: 107px;
  left: 34px;
  width: 331px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.add-member-pop-up-text04 {
  top: 6px;
  color: rgba(0, 0, 0, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.add-member-pop-up-email {
  top: 170px;
  left: 34px;
  width: 331px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.add-member-pop-up-text06 {
  top: 6px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.add-member-pop-up-password {
  top: 233px;
  left: 34px;
  width: 331px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.add-member-pop-up-text08 {
  top: 6px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.add-member-pop-up-confirm-password {
  top: 296px;
  left: 34px;
  width: 331px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.add-member-pop-up-text10 {
  top: 5px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.add-member-pop-up-tc {
  top: 357px;
  left: 34px;
  width: 278px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.add-member-pop-up-t-cbox {
  top: 2px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 3px;
}
.add-member-pop-up-text12 {
  left: 23px;
  color: rgba(206, 143, 127, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.add-member-pop-up-signup {
  top: 394px;
  left: 34px;
  width: 120px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(238, 61, 18, 1);
}
.add-member-pop-up-group1 {
  top: 6px;
  left: 10px;
  width: 100px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.add-member-pop-up-text14 {
  color: rgba(255, 255, 255, 1);
  left: -12px;
  width: 150px;
  /* height: auto; */
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/* Username Start */
.admincontrolpanel-username {
  top: 107px;
  left: 34px;
  width: 331px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.admincontrolpanel-text04 {
  top: 3px;
  color: rgba(0, 0, 0, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Username End */

/* Email Start */
.admincontrolpanel-email {
  top: 170px;
  left: 34px;
  width: 331px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgb(255, 255, 255);
}
.admincontrolpanel-text05 {
  top: 3px;
  color: rgba(0, 0, 0, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Email End */

/* Password Start */
.admincontrolpanel-password {
  top: 233px;
  left: 34px;
  width: 331px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.admincontrolpanel-text06 {
  top: 3px;
  color: rgba(0, 0, 0, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Password End */

/* Confirm Password Start */
.admincontrolpanel-confirm-password {
  top: 296px;
  left: 34px;
  width: 331px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.admincontrolpanel-text07{
  top: 3px;
  color: rgba(0, 0, 0, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Confrim Password End */

/* Checkbox Start */
.checkbox-container {
  /* display: flex;
  align-items: center; */
  width: 100%px;
  position: absolute;
  top: 359px;
  left: 33px;
}
/* Style the checkbox */
.checkbox-container input[type="checkbox"] {
  margin-right: 10px; /* Add some spacing between the checkbox and label */
}
/* Style the label text */
.checkbox-container label {
  position: relative;
  top: -3px;
  font-size: 13px;
  color: #ffffff; /* Text color */
}
/* Customize the appearance of the checkbox */
.checkbox-container input[type="checkbox"] {
  -webkit-appearance: none; /* Remove default styles */
  -moz-appearance: none;
  appearance: none;
  width: 15px; /* Set the width and height for the checkbox */
  height: 15px;
  border: 2px solid #ffffff; /* Border color of the checkbox */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
}
/* Style the checked state of the checkbox */
.checkbox-container input[type="checkbox"]:checked {
  background-color: #ff5100; /* Background color when checked */
  border: 2px solid #ffffff; /* Border color when checked */
}
/* Checkbox End */

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #000000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

