/* Quick color choices */
/* dark orange => linear-gradient(180deg, rgb(201, 61, 26) 0%, rgba(100, 20, 0) 100%); */

/* Container formatting start */
.dashboard-dark-pop-up-add-task-product-backlog-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dashboard-dark-pop-up-add-task-product-backlog-dashboard-dark-popupfor-adding-task {
  width: 1000px;
  height: 700px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(46, 0, 0, 1) 100%, rgba(78, 0, 0, 1) 100%);
}
.dashboard-dark-pop-up-add-task-product-backlog-rectangle23 {
  top: 0px;
  left: 0px;
  width: 1000px;
  height: 90px;
  position: absolute;
  border-radius: 8px 8px 0 0;
}

.dashboard-dark-pop-up-add-task-product-backlog-text {
  top: 21px;
  left: 425px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Container formatting end */

/* Task name start */
.dashboard-dark-pop-up-add-task-product-backlog-task-name {
  top: 136px;
  left: 90px;
  width: 350px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-dark-pop-up-add-task-product-backlog-text02 {
  top: 8px;
  color: rgba(0, 0, 0, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Task name end */

/* Assign member start */
.dashboard-dark-pop-up-add-task-product-backlog-assign-member {
  top: 440px;
  left: 90px;
  width: 780px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-dark-pop-up-add-task-product-backlog-text04 {
  top: 8px;
  color: rgba(0, 0, 0, 1);
  width: 169px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Assign member end */

/* Story points start */
.dashboard-dark-pop-up-add-task-product-backlog-story-points {
  top: 136px;
  left: 480px;
  width: 180px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-dark-pop-up-add-task-product-backlog-text06 {
  top: 8px;
  color: rgba(0, 0, 0, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Story points end */

/* Task stage start */
.task-stage-text{
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  top: 108px;
  left: 700px;
  font-size: 16px;
  font-style: SemiBold;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.task-stage{
  top: 136px;
  left: 700px;
  width: 180px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-image: linear-gradient(180deg, rgb(201, 61, 26) 0%, rgba(100, 20, 0) 100%);
}
.task-stage-selection{
  top: 5px;
  left: 26px;
  height: 29px;
  position: absolute;
  font-size: 16px;
  text-align: left;
  font-family: Poppins;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Task stage end */

/* Task description start */
.task-description{
  top: 220px;
  left: 90px;
  height: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.task-description-text{
  position: absolute;
  font-size: 16px;
  text-align: left;
  font-family: Poppins;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Task description end */

/* Task status start */
.dashboard-dark-pop-up-add-task-product-backlog-default-task-status {
  top: 522px;
  left: 650px;
  width: 233px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-add-task-product-backlog-default-task-status1 {
  top: 23px;
  left: 0px;
  width: 233px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-image: linear-gradient(180deg, rgba(155, 35, 4, 1) 0%, rgba(200, 61, 25, 1) 0%, rgba(99, 20, 0, 1) 100%);
}
.dashboard-dark-pop-up-add-task-product-backlog-text08 {
  top: 5px;
  left: 15px;
  color: rgba(255, 255, 255, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-add-task-product-backlog-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Task status end */

/*Tags box start */
.tags-text{
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  top: 522px;
  left: 90px;
  font-size: 15px;
  font-style: SemiBold;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.add-tags {
  border-radius: 5px;
  top: 545px;
  left: 90px;
  width: 253px;
  height: 42px;
  position: absolute;
  display: inline-block;
  background-image: linear-gradient(180deg, rgb(201, 61, 26) 0%, rgba(100, 20, 0) 100%);
}
.add-tags .tag-anchor{  
  top: 6px;
  left: 40px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  width: 170px;
  text-align: left;
  font-family: Poppins;
  font-size: 16px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
}
.add-tags .tag-anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid rgb(117, 117, 117);
  border-top: 2px solid rgb(117, 117, 117);
  padding: 3px;
  right: 10px;
  top: 30%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.add-tags ul.task-tags {
  width: 170px;
  height: 80px;
  display: none;
  margin: 0;
  border-top: none;
  background-color: rgb(174, 174, 174);
}
.add-tags ul.task-tags li {
  list-style: none;
}

.add-tags.visible .task-tags {
  top: 6px;
  left: 40px;
  display: block;
  position:relative;
  font-family: Poppins;
  font-size: 16px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  z-index: 2;
  overflow-y: scroll;
}
/* Tags box end */

/* Priority start */
.dashboard-dark-pop-up-add-task-product-backlog-priority {
  top: 520px;
  left: 440px;
  width: 120px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-add-task-product-backlog-rectangle7 {
  top: 24px;
  left: 0px;
  width: 120px;
  height: 40px;
  position: absolute;
  border-radius: 3px;
}
.dashboard-dark-pop-up-add-task-product-backlog-text14 {
  color: rgba(255, 255, 255, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Priority end */

/* Create task start */
.dashboard-dark-pop-up-add-task-product-backlog-create-task {
  top: 630px;
  left: 180px;
  width: 668px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-image: linear-gradient(180deg, rgba(208, 59, 22, 1) 0%, rgba(89, 17, 0, 1) 100%);
}
.dashboard-dark-pop-up-add-task-product-backlog-group1 {
  top: 5px;
  left: 146.63397216796875px;
  width: 358.43902587890625px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-add-task-product-backlog-text16 {
  color: rgba(255, 255, 255, 1);
  width: 358px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* Create task end */

/* .dashboard-dark-pop-up-add-task-product-backlog-drop-down-arrow {
  top: 321px;
  left: 414px;
  width: 20px;
  height: 20px;
  position: absolute;
} */
/* .overlay {
  display: none;
  position: fixed;
  width: 100%; height: 100%;
  top: 50%; left: 50%;
  background: rgba(0,0,0,0.5);
  z-index: 2;
}
#overlay{
  -webkit-box-shadow:0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}
.popup {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 20px;
  border-radius: 5px;
  z-index: 3; 
} */
select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #000000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
