.dashboard-dark-pop-up-manage-sprint-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dashboard-dark-pop-up-manage-sprint-dashboard-dark-popupformanagingsprinttasks {
  width: 1342px;
  height: 720px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-image: linear-gradient(180deg, rgba(13, 0, 0, 1) 0%, rgba(46, 0, 0, 1) 100%);
}
.dashboard-dark-pop-up-manage-sprint-rectangle23 {
  top: 0px;
  left: 0px;
  width: 1340px;
  height: 90px;
  position: absolute;
  border-radius: 8px 8px 0 0;
}
.dashboard-dark-pop-up-manage-sprint-text {
  top: 21px;
  left: 550px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-rectangle62 {
  top: 173px;
  left: 121px;
  width: 463px;
  height: 461px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-rectangle63 {
  top: 173px;
  left: 745px;
  width: 463px;
  height: 461px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-create-sprint {
  top: 660px;
  left: 75px;
  width: 1190px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 50, 0, 1);
}
.dashboard-dark-pop-up-manage-sprint-group1 {
  top: 0px;
  left: 275.99993896484375px;
  width: 638.5365600585938px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-text02 {
  color: rgba(255, 255, 255, 1);
  width: 639px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-create-sprint1 {
  top: 138px;
  left: 656px;
  width: 638.5365600585938px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-group11 {
  top: 0px;
  left: 0px;
  width: 638.5365600585938px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-rectangle4 {
  top: 0px;
  left: 89px;
  width: 463px;
  height: 35px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-text04 {
  top: 6px;
  color: rgba(255, 255, 255, 1);
  width: 639px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-create-sprint2 {
  top: 138px;
  left: 121px;
  width: 638.5365600585938px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-rectangle41 {
  top: 0px;
  left: 89px;
  width: 463px;
  height: 35px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-group12 {
  top: 6px;
  left: -85px;
  width: 638.5365600585938px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-text06 {
  color: rgba(255, 255, 255, 1);
  width: 639px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-rectangle40 {
  top: 192px;
  left: 167px;
  width: 368px;
  height: 52px;
  position: absolute;
  border-radius: 7px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle41 {
  top: 192px;
  left: 167px;
  width: 368px;
  height: 52px;
  position: absolute;
  border-radius: 7px;
}
.dashboard-dark-pop-up-manage-sprint-text08 {
  top: 206px;
  left: 226px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-image9 {
  top: 196px;
  left: 479px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-status {
  top: 203px;
  left: 303px;
  width: 100px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-text10 {
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-rectangle44 {
  top: 263px;
  left: 167px;
  width: 368px;
  height: 52px;
  position: absolute;
  border-radius: 7px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle45 {
  top: 263px;
  left: 167px;
  width: 368px;
  height: 52px;
  position: absolute;
  border-radius: 7px;
}
.dashboard-dark-pop-up-manage-sprint-text12 {
  top: 276px;
  left: 225px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-image11 {
  top: 267px;
  left: 479px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-status1 {
  top: 274px;
  left: 303px;
  width: 100px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-text14 {
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-rectangle46 {
  top: 332px;
  left: 167px;
  width: 368px;
  height: 52px;
  position: absolute;
  border-radius: 7px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle64 {
  top: 401px;
  left: 167px;
  width: 368px;
  height: 52px;
  position: absolute;
  border-radius: 7px;
}
.dashboard-dark-pop-up-manage-sprint-text16 {
  top: 347px;
  left: 226px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-image12 {
  top: 336px;
  left: 479px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-status2 {
  top: 343px;
  left: 303px;
  width: 100px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-text18 {
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-text20 {
  top: 414px;
  left: 225px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-image13 {
  top: 407px;
  left: 479px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-status3 {
  top: 412px;
  left: 303px;
  width: 100px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-text22 {
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-rectangle56 {
  top: 288px;
  left: 435px;
  width: 28px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle60 {
  top: 356px;
  left: 435px;
  width: 28px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle61 {
  top: 427px;
  left: 435px;
  width: 28px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle57 {
  top: 218px;
  left: 435px;
  width: 28px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle26 {
  top: 192px;
  left: 789px;
  width: 368px;
  height: 52px;
  position: absolute;
  border-radius: 7px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle27 {
  top: 192px;
  left: 789px;
  width: 368px;
  height: 52px;
  position: absolute;
  border-radius: 7px;
}
.dashboard-dark-pop-up-manage-sprint-text24 {
  top: 206px;
  left: 843px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-image2 {
  top: 196px;
  left: 1101px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-status4 {
  top: 203px;
  left: 925px;
  width: 100px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-text26 {
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-rectangle28 {
  top: 262px;
  left: 789px;
  width: 368px;
  height: 52px;
  position: absolute;
  border-radius: 7px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle29 {
  top: 262px;
  left: 789px;
  width: 368px;
  height: 52px;
  position: absolute;
  border-radius: 7px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle65 {
  top: 332px;
  left: 789px;
  width: 368px;
  height: 52px;
  position: absolute;
  border-radius: 7px;
}
.dashboard-dark-pop-up-manage-sprint-text28 {
  top: 276px;
  left: 839px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-image3 {
  top: 266px;
  left: 1101px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-status5 {
  top: 273px;
  left: 925px;
  width: 100px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-text30 {
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-text32 {
  top: 346px;
  left: 838px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-image4 {
  top: 336px;
  left: 1101px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-status6 {
  top: 345px;
  left: 925px;
  width: 100px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-pop-up-manage-sprint-text34 {
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-pop-up-manage-sprint-linear-astronomy-star-circle {
  top: 205px;
  left: 802px;
  width: 25px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-dark-pop-up-manage-sprint-rectangle53 {
  top: 288px;
  left: 1056px;
  width: 28px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle54 {
  top: 216px;
  left: 1056px;
  width: 28px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
}
.dashboard-dark-pop-up-manage-sprint-rectangle55 {
  top: 358px;
  left: 1056px;
  width: 28px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
}
.dashboard-dark-pop-up-manage-sprint-flagiconicons1 {
  top: 203px;
  left: 796px;
  width: 38px;
  height: 29px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-flagiconicons4 {
  top: 344px;
  left: 178px;
  width: 38px;
  height: 29px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-flagiconicons6 {
  top: 277px;
  left: 178px;
  width: 38px;
  height: 29px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-flagiconicons7 {
  top: 206px;
  left: 178px;
  width: 38px;
  height: 29px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-flagiconicons5 {
  top: 414px;
  left: 178px;
  width: 38px;
  height: 29px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-flagiconicons2 {
  top: 274px;
  left: 796px;
  width: 38px;
  height: 29px;
  position: absolute;
}
.dashboard-dark-pop-up-manage-sprint-flagiconicons3 {
  top: 341px;
  left: 796px;
  width: 38px;
  height: 29px;
  position: absolute;
}
