.dashboard-dark-product-backlog-container {
  width: 100%;
  /* display: flex; */
  overflow: hidden;
  min-height: 100vh;
  /* max-height: none; */
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dashboard-dark-product-backlog-dashboard-dark-product-backlog {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-dark-product-backlog-top-nevigation {
  width: 100%;
  height: 60px;
  /* display: flex; */
  overflow: hidden;
  position: top;
  /* align-items: flex-start; */
  flex-shrink: 0;
  /* border-color: rgba(231, 231, 231, 1);
  border-style: solid;
  border-width: 0 0 1px; */
  background-color: rgba(0, 0, 0, 1);
}
.dashboard-dark-product-backlog-logo {
  top: 9px;
  left: 70px;
  width: 140px;
  height: 42px;
  position: absolute;
}
.dashboard-dark-product-backlog-menu {
  top: 15px;
  left: 17px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.dashboard-dark-product-backlog-theme {
  top: 0px;
  left: 594px;
  width: 251px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(184, 36, 0, 0.8500000238418579);
}
.dashboard-dark-product-backlog-text {
  top: 11px;
  left: 53px;
  color: rgba(237, 246, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-ellipse1 {
  top: 9px;
  left: 174px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.dashboard-dark-product-backlog-dark-theme {
  top: 12px;
  left: 177px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.dashboard-dark-product-backlog-light-theme {
  top: 12px;
  left: 128px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.dashboard-dark-product-backlog-dashboard-home-page {
  top: 17px;
  left: 252px;
  width: 97px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-text02 {
  color: rgba(237, 246, 255, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-project-backlogpage {
  top: 17px;
  left: 393px;
  width: 61px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-text04 {
  color: rgba(237, 246, 255, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-user-profile {
  top: 17px;
  left: 1279px;
  width: 140px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-text06 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-linear-map-location-map-arrow-down {
  top: 8px;
  left: 125px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.dashboard-dark-product-backlog-linear-users-user {
  top: 0px;
  left: 87px;
  width: 25px;
  height: 25px;
  position: absolute;
}
/* .dashboard-dark-product-backlog-body {
  width: 100%;
  height: 790px;
  display: flex;
  z-index: 1;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-image: linear-gradient(180deg, rgba(13, 13, 13, 1) 0%, rgba(61, 25, 1, 1) 100%);
} */
.dashboard-dark-product-backlog-searhbarfliter {
  top: 275px;
  left: 155px;
  width: 315px;
  height: 34px;
  display: flex;
  z-index: 2;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-fliter {
  top: 2px;
  left: 285px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.dashboard-dark-product-backlog-search-bar {
  top: 0px;
  left: 0px;
  width: 267px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-dark-product-backlog-text08 {
  top: 10px;
  left: 47px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-searchbar1 {
  top: 7px;
  left: 14px;
  width: 20px;
  height: 20px;
  position: absolute;
}
/* .dashboard-dark-product-backlog-sprint-boardview {
  top: 100px;
  left: 100px;
  width: 300px;
  height: 160px;
  display: flex;
  z-index: 3;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
} */
.dashboard-dark-product-backlog-text10 {
  color: rgba(255, 255, 255, 1);
  top: 220px;
  left: 140px;
  width: 294px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-text12 {
  color: rgba(255, 255, 255, 1);
  top: 330px;
  left: 155px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-rectangle18 {
  top: 359px;
  left: 155px;
  width: 1162px;
  height: 383px;
  z-index: 4;
  position: absolute;
  border-color: rgba(156, 115, 115, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.dashboard-dark-product-backlog-rectangle19 {
  top: 359px;
  left: 155px;
  width: 1162px;
  height: 79px;
  z-index: 5;
  position: absolute;
  border-radius: 5px 5px 0 0;
}
.dashboard-dark-product-backlog-rectangle20 {
  top: 438px;
  left: 155px;
  width: 1162px;
  height: 77px;
  z-index: 6;
  position: absolute;
  border-color: rgba(156, 115, 115, 1);
  border-style: solid;
  border-width: 1px;
}
.dashboard-dark-product-backlog-rectangle21 {
  top: 589px;
  left: 155px;
  width: 1162px;
  height: 77px;
  z-index: 7;
  position: absolute;
  border-color: rgba(156, 115, 115, 1);
  border-style: solid;
  border-width: 1px;
}
.dashboard-dark-product-backlog-task4 {
  top: 456px;
  left: 176px;
  width: 999px;
  height: 41px;
  display: flex;
  z-index: 8;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-pin {
  top: 8px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.dashboard-dark-product-backlog-text14 {
  top: 5px;
  left: 38px;
  color: rgba(60, 12, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.dashboard-dark-product-backlog-story-point {
  top: 15px;
  left: 358px;
  width: 27px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-drop-down-arrow {
  top: 8px;
  left: 14px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.dashboard-dark-product-backlog-text16 {
  color: rgba(60, 12, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-status {
  top: 6px;
  left: 551px;
  width: 125px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-drop-down-arrow1 {
  top: 10px;
  left: 112px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.dashboard-dark-product-backlog-text17 {
  color: rgba(60, 12, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-tag-ui {
  top: 0px;
  left: 901px;
  width: 98px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0);
}
.dashboard-dark-product-backlog-text19 {
  top: 8px;
  left: 40px;
  color: rgba(255, 244, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-task3 {
  top: 449px;
  left: 214px;
  width: 1052px;
  height: 279px;
  display: flex;
  z-index: 9;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-text21 {
  top: 240px;
  color: rgba(60, 12, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.dashboard-dark-product-backlog-story-point1 {
  top: 240px;
  left: 358px;
  width: 27px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-drop-down-arrow2 {
  top: 8px;
  left: 14px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.dashboard-dark-product-backlog-text23 {
  color: rgba(60, 12, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-status1 {
  top: 241px;
  left: 517px;
  width: 121px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-drop-down-arrow3 {
  top: 10px;
  left: 108px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.dashboard-dark-product-backlog-text24 {
  color: rgba(60, 12, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-tag-ui1 {
  top: 0px;
  left: 863px;
  width: 189px;
  height: 279px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-rectangle22 {
  top: 234px;
  left: 0px;
  width: 98px;
  height: 41px;
  position: absolute;
  border-color: rgba(5, 255, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.dashboard-dark-product-backlog-text26 {
  top: 241px;
  left: 8px;
  color: rgba(5, 250, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-image2 {
  top: 0px;
  left: 126px;
  width: 61px;
  height: 61px;
  position: absolute;
}
.dashboard-dark-product-backlog-image3 {
  top: 70px;
  left: 128px;
  width: 61px;
  height: 61px;
  position: absolute;
}
.dashboard-dark-product-backlog-image4 {
  top: 143px;
  left: 126px;
  width: 61px;
  height: 61px;
  position: absolute;
}
.dashboard-dark-product-backlog-image5 {
  top: 218px;
  left: 126px;
  width: 61px;
  height: 61px;
  position: absolute;
}
.dashboard-dark-product-backlog-task2 {
  top: 606px;
  left: 214px;
  width: 961px;
  height: 41px;
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-text28 {
  top: 6px;
  color: rgba(60, 12, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.dashboard-dark-product-backlog-story-point2 {
  top: 7px;
  left: 358px;
  width: 27px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-drop-down-arrow4 {
  top: 8px;
  left: 14px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.dashboard-dark-product-backlog-text30 {
  color: rgba(60, 12, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-status2 {
  top: 7px;
  left: 513px;
  width: 125px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-drop-down-arrow5 {
  top: 10px;
  left: 112px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.dashboard-dark-product-backlog-text31 {
  color: rgba(60, 12, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-tag-ui2 {
  top: 0px;
  left: 863px;
  width: 98px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0);
}
.dashboard-dark-product-backlog-text33 {
  top: 8px;
  left: 8px;
  color: rgba(255, 3, 3, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-task1 {
  top: 532px;
  left: 217px;
  width: 958px;
  height: 41px;
  display: flex;
  z-index: 11;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-text35 {
  top: 5px;
  color: rgba(59, 11, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.dashboard-dark-product-backlog-story-point3 {
  top: 8px;
  left: 358px;
  width: 27px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-drop-down-arrow6 {
  top: 8px;
  left: 17px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.dashboard-dark-product-backlog-text37 {
  color: rgba(59, 11, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-status3 {
  top: 6px;
  left: 514px;
  width: 121px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-drop-down-arrow7 {
  top: 10px;
  left: 108px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.dashboard-dark-product-backlog-text39 {
  color: rgba(59, 11, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-tag-ui3 {
  top: 0px;
  left: 860px;
  width: 98px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0);
}
.dashboard-dark-product-backlog-text41 {
  top: 8px;
  left: 9px;
  color: rgba(178, 227, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-sortby {
  top: 317px;
  left: 1202px;
  width: 89px;
  height: 27px;
  display: flex;
  z-index: 12;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-drop-down-arrow8 {
  top: 7px;
  left: 76px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.dashboard-dark-product-backlog-text43 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-next-previouspage {
  top: 758px;
  left: 154px;
  width: 60px;
  height: 25px;
  display: flex;
  z-index: 13;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-linear-arrows-alt-arrow-right {
  top: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.dashboard-dark-product-backlog-linear-arrows-alt-arrow-left {
  top: 20px;
  left: 55px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.dashboard-dark-product-backlog-add-task {
  top: 757px;
  left: 1215px;
  width: 125px;
  height: 30px;
  display: flex;
  z-index: 14;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-dark-product-backlog-linear-essentional-ui-add-circle {
  top: 28px;
  left: 90px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.dashboard-dark-product-backlog-text45 {
  top: 28px;
  right: 17px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  padding-right: 20px;
  max-width: 100ch;
}
.dashboard-dark-product-backlog-image1 {
  top: 358px;
  left: 1202px;
  width: 66px;
  height: 65px;
  z-index: 15;
  position: absolute;
}
.dashboard-dark-product-backlog-text47 {
  top: 415px;
  left: 1153px;
  color: rgba(255, 255, 255, 1);
  width: 162px;
  height: auto;
  z-index: 16;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-text49 {
  top: 387px;
  left: 204px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  z-index: 17;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-text51 {
  top: 385px;
  left: 527px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  z-index: 18;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-text53 {
  top: 385px;
  left: 736px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  z-index: 19;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-dark-product-backlog-flagiconicons1 {
  top: 538px;
  left: 170px;
  width: 38px;
  height: 29px;
  z-index: 20;
  position: absolute;
}
.dashboard-dark-product-backlog-flagiconicons2 {
  top: 615px;
  left: 170px;
  width: 38px;
  height: 29px;
  z-index: 21;
  position: absolute;
}
.dashboard-dark-product-backlog-flagiconicons3 {
  top: 689px;
  left: 168px;
  width: 38px;
  height: 29px;
  z-index: 22;
  position: absolute;
}
#popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0,4s;
}  

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

/* .table-container {
  height: 400px;
  overflow-y: scroll;
} */

#dataTable {
  border-collapse: collapse; /* Collapse borders */
  table-layout: fixed;
  width: 80%; 
  position: absolute;
  /* position: sticky; */
  top: 360px;
  left: 50%; /* Center the table horizontally */
  transform: translateX(-50%); /* Centering trick */

}

#dataTable tbody {
  table-layout: fixed;
  width: 100%;
  height: 320px;
  position: absolute;
  overflow-y: scroll;
  background-color: rgb(245, 141, 128);
}

#dataTable th {
  font-style: bold;
  font-size: 20px;
  height: 90px;
  text-align: center;
  color: white;
  background-color: rgb(116, 20, 7);  
}

#dataTable td {
  height: 80px;
  font-size: 20px;
  text-align: center;
  /* color: rgb(46, 9, 3); Change the text color to red */
  background-color: rgb(245, 141, 128);
}

#dataTable tr {
  width: 100%; /* Make sure table rows span the entire width */
  display: table; /* Add this to ensure proper rendering */
  table-layout: fixed; /* Necessary for fixed table layout */
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #000000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-size: 14px;
}
/* .overlay {
  display: none;
  position: fixed;
  width: 100%; height: 100%;
  top: 50%; left: 50%;
  background: rgba(0,0,0,0.5);
  z-index: 2;
}
#overlay{
  -webkit-box-shadow:0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}
.popup {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 20px;
  border-radius: 5px;
  z-index: 3; 
} */
.modal{
  display: fixed;
  position: fixed;
  width: 100%; height: 100%;
  justify-content: center;
  align-items: center;
}
.modal-header{
  display: block;
  /* padding: 2px 16px; */
  background: transparent;
  border: none;
}
.modal-body{
  display: flex;
  /* padding: 2px 16px; */
  width: 100%; height: 100%;
  justify-content: center;
  align-items: center;
}
.modal-content{
  position: relative;
  margin: auto;
  /* padding: 20px; */
  height: 515px;/*535 cross|515 no cross*/
  width: 940px;/*1050 cross|1050 no cross*/
  /* max-width: 100%; */
  max-height: 100%; 
  background-color: transparent;
  border: none; border-radius: 30px;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.modal-footer{
  border: none;
}
.iframeTask{
  width: 900px; height: 700px;
  overflow: hidden;
  border-radius: 30px;
  transform: scale(0.8);
}
.close{
  color: #fff;
  opacity: 1.5;
}


@keyframes animatetop {
  from {top: -500px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* CSS code for priority classes */
.urgent-priority {
  color: red; /* Set the color for high priority */
}
.important-priority {
  color: yellow; /*Set the color for important priority */
}
.medium-priority {
  color: orange; /* Set the color for medium priority */
}
.low-priority {
  color: green; /* Set the color for low priority */
}

body.dark-theme-background {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(13, 13, 13, 1) 100%);
}

body.dark-theme-background {
  background-image: url(https://www.businesstoday.com.my/wp-content/uploads/2022/09/Msia-Day-ProductNation.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}