<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./dashboard-dark-pop-up-add-sprint.css" rel="stylesheet" />
      <div class="dashboard-dark-pop-up-add-sprint-container">
        <div
          class="dashboard-dark-pop-up-add-sprint-dashboard-dark-popupfor-adding-task"
        >
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/f1d0ab2b-552c-48dd-ba77-bbf24451eb02?org_if_sml=121822"
            alt="Rectangle234211"
            class="dashboard-dark-pop-up-add-sprint-rectangle23"
          />
          <span class="dashboard-dark-pop-up-add-sprint-text">
            <span>Add Sprint</span>
          </span>
          <div class="dashboard-dark-pop-up-add-sprint-sprint-name">
            <span class="dashboard-dark-pop-up-add-sprint-text02">
              <span>Sprint Name</span>
            </span>
          </div>
          <div class="dashboard-dark-pop-up-add-sprint-sprint-name1">
            <span class="dashboard-dark-pop-up-add-sprint-text04">
              <span>Start Date</span>
            </span>
          </div>
          <div class="dashboard-dark-pop-up-add-sprint-sprint-name2">
            <span class="dashboard-dark-pop-up-add-sprint-text06">
              <span>End Date</span>
            </span>
          </div>
          <div class="dashboard-dark-pop-up-add-sprint-default-sprint-status">
            <div class="dashboard-dark-pop-up-add-sprint-default-task-status">
              <span class="dashboard-dark-pop-up-add-sprint-text08">
                <span>Not Started</span>
              </span>
            </div>
            <span class="dashboard-dark-pop-up-add-sprint-text10">
              <span>Default Sprint Status:</span>
            </span>
          </div>
          <span class="dashboard-dark-pop-up-add-sprint-text12">
            <span>Select Start Date:</span>
          </span>
          <span class="dashboard-dark-pop-up-add-sprint-text14">
            <span>Select End Date:</span>
          </span>
          <div class="dashboard-dark-pop-up-add-sprint-create-sprint">
            <div class="dashboard-dark-pop-up-add-sprint-group1">
              <span class="dashboard-dark-pop-up-add-sprint-text16">
                <span>Create Sprint</span>
              </span>
            </div>
          </div>
          <div class="dashboard-dark-pop-up-add-sprint-calendar-enddate">
            <img
              src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/2b327c05-5d7d-4e40-9521-3ab1728eba36?org_if_sml=1584"
              alt="Rectangle174212"
              class="dashboard-dark-pop-up-add-sprint-rectangle17"
            />
            <span class="dashboard-dark-pop-up-add-sprint-text18">
              <span>30 31</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text20">
              <span>24 25 26 27 28 29 30</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text22">
              <span>16 17 18 19 20 21 22 23</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text24">
              <span>7 8 9 10 11 12 13 14 15</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text26">
              <span class="dashboard-dark-pop-up-add-sprint-text27">
                29 30 31
              </span>
              <span class="dashboard-dark-pop-up-add-sprint-text28"></span>
              <span class="dashboard-dark-pop-up-add-sprint-text29"></span>
              <span class="dashboard-dark-pop-up-add-sprint-text30"></span>
              <span>1 2 3 4 5 6</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text32">
              <span>30 Aug 2023</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text34">
              <span>Calendar</span>
            </span>
            <img
              src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/055f8848-c1f3-4821-af04-dc33e211f7dd?org_if_sml=1541"
              alt="Selectdate4212"
              class="dashboard-dark-pop-up-add-sprint-selectdate"
            />
            <div class="dashboard-dark-pop-up-add-sprint-next-previouspage">
              <img
                src="public/external/lineararrowsaltarrowright4213-gffv.svg"
                alt="LinearArrowsAltArrowRight4213"
                class="dashboard-dark-pop-up-add-sprint-linear-arrows-alt-arrow-right"
              />
              <img
                src="public/external/lineararrowsaltarrowleft4213-auk.svg"
                alt="LinearArrowsAltArrowLeft4213"
                class="dashboard-dark-pop-up-add-sprint-linear-arrows-alt-arrow-left"
              />
            </div>
            <div class="dashboard-dark-pop-up-add-sprint-next-previouspage1">
              <img
                src="public/external/lineararrowsaltarrowright4213-pl0m.svg"
                alt="LinearArrowsAltArrowRight4213"
                class="dashboard-dark-pop-up-add-sprint-linear-arrows-alt-arrow-right1"
              />
              <img
                src="public/external/lineararrowsaltarrowleft4213-0cmu.svg"
                alt="LinearArrowsAltArrowLeft4213"
                class="dashboard-dark-pop-up-add-sprint-linear-arrows-alt-arrow-left1"
              />
            </div>
          </div>
          <div class="dashboard-dark-pop-up-add-sprint-calendar-startdate">
            <img
              src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/447ef437-e848-46ff-bfda-a0bf79368c03?org_if_sml=1584"
              alt="Rectangle174212"
              class="dashboard-dark-pop-up-add-sprint-rectangle171"
            />
            <span class="dashboard-dark-pop-up-add-sprint-text36">
              <span>30 31</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text38">
              <span>24 25 26 27 28 29 30</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text40">
              <span>16 17 18 19 20 21 22 23</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text42">
              <span>7 8 9 10 11 12 13 14 15</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text44">
              <span class="dashboard-dark-pop-up-add-sprint-text45">
                29 30 31
              </span>
              <span class="dashboard-dark-pop-up-add-sprint-text46"></span>
              <span class="dashboard-dark-pop-up-add-sprint-text47"></span>
              <span class="dashboard-dark-pop-up-add-sprint-text48"></span>
              <span>1 2 3 4 5 6</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text50">
              <span>30 Aug 2023</span>
            </span>
            <span class="dashboard-dark-pop-up-add-sprint-text52">
              <span>Calendar</span>
            </span>
            <img
              src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/8396bf76-789a-4f9b-a8a4-6d91b0e07d05?org_if_sml=1541"
              alt="Currentdate4212"
              class="dashboard-dark-pop-up-add-sprint-currentdate"
            />
            <div class="dashboard-dark-pop-up-add-sprint-next-previouspage2">
              <img
                src="public/external/lineararrowsaltarrowright4213-ra5o.svg"
                alt="LinearArrowsAltArrowRight4213"
                class="dashboard-dark-pop-up-add-sprint-linear-arrows-alt-arrow-right2"
              />
              <img
                src="public/external/lineararrowsaltarrowleft4213-cdk8.svg"
                alt="LinearArrowsAltArrowLeft4213"
                class="dashboard-dark-pop-up-add-sprint-linear-arrows-alt-arrow-left2"
              />
            </div>
            <div class="dashboard-dark-pop-up-add-sprint-next-previouspage3">
              <img
                src="public/external/lineararrowsaltarrowright4213-1alg.svg"
                alt="LinearArrowsAltArrowRight4213"
                class="dashboard-dark-pop-up-add-sprint-linear-arrows-alt-arrow-right3"
              />
              <img
                src="public/external/lineararrowsaltarrowleft4213-y32n.svg"
                alt="LinearArrowsAltArrowLeft4213"
                class="dashboard-dark-pop-up-add-sprint-linear-arrows-alt-arrow-left3"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
