<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./dashboard-dark-pop-up-manage-sprint.css" rel="stylesheet" />
      <div class="dashboard-dark-pop-up-manage-sprint-container">
        <div
          class="dashboard-dark-pop-up-manage-sprint-dashboard-dark-popupformanagingsprinttasks"
        >
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/c4f3a1da-1ea7-4ce7-b710-73f58ae78dfd?org_if_sml=121785"
            alt="Rectangle234154"
            class="dashboard-dark-pop-up-manage-sprint-rectangle23"
          />
          <span class="dashboard-dark-pop-up-manage-sprint-text">
            <span>Manage Sprint</span>
          </span>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/5f2a8b5d-05ab-4222-8511-ab20269d0378?org_if_sml=11808"
            alt="Rectangle624963"
            class="dashboard-dark-pop-up-manage-sprint-rectangle62"
          />
          <img
            src="public/external/rectangle634963-rbf9.svg"
            alt="Rectangle634963"
            class="dashboard-dark-pop-up-manage-sprint-rectangle63"
          />
          <div class="dashboard-dark-pop-up-manage-sprint-create-sprint">
            <div class="dashboard-dark-pop-up-manage-sprint-group1">
              <span class="dashboard-dark-pop-up-manage-sprint-text02">
                <span>Confirm</span>
              </span>
            </div>
          </div>
          <div class="dashboard-dark-pop-up-manage-sprint-create-sprint1">
            <div class="dashboard-dark-pop-up-manage-sprint-group11">
              <img
                src="public/external/rectangle44155-fa7.svg"
                alt="Rectangle44155"
                class="dashboard-dark-pop-up-manage-sprint-rectangle4"
              />
              <span class="dashboard-dark-pop-up-manage-sprint-text04">
                <span>Sprint Log</span>
              </span>
            </div>
          </div>
          <div class="dashboard-dark-pop-up-manage-sprint-create-sprint2">
            <img
              src="public/external/rectangle44155-7vos.svg"
              alt="Rectangle44155"
            />
            <div class="dashboard-dark-pop-up-manage-sprint-group12">
              <span class="dashboard-dark-pop-up-manage-sprint-text06">
                <span>Product Backlog</span>
              </span>
            </div>
          </div>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/9a76d016-7beb-48f6-91f0-4715b2cb4a18?org_if_sml=1547"
            alt="Rectangle404157"
            class="dashboard-dark-pop-up-manage-sprint-rectangle40"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/1d59dfc2-f8f8-4133-ae50-056e607c9318?org_if_sml=1547"
            alt="Rectangle414157"
            class="dashboard-dark-pop-up-manage-sprint-rectangle41"
          />
          <span class="dashboard-dark-pop-up-manage-sprint-text08">
            <span>Task 2</span>
          </span>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/740b7c09-01c5-4427-9f12-6c106de54040?org_if_sml=1645"
            alt="image94157"
            class="dashboard-dark-pop-up-manage-sprint-image9"
          />
          <div class="dashboard-dark-pop-up-manage-sprint-status">
            <span class="dashboard-dark-pop-up-manage-sprint-text10">
              <span>Completed</span>
            </span>
          </div>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/b4166c52-42c8-4528-84de-f35af9016870?org_if_sml=1547"
            alt="Rectangle444157"
            class="dashboard-dark-pop-up-manage-sprint-rectangle44"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/3944c148-eec6-42a5-aaf7-23f8b45ef6e6?org_if_sml=1547"
            alt="Rectangle454157"
            class="dashboard-dark-pop-up-manage-sprint-rectangle45"
          />
          <span class="dashboard-dark-pop-up-manage-sprint-text12">
            <span>Task 4</span>
          </span>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/6bdf9702-d53f-487b-97b7-f382def461af?org_if_sml=1645"
            alt="image114157"
            class="dashboard-dark-pop-up-manage-sprint-image11"
          />
          <div class="dashboard-dark-pop-up-manage-sprint-status1">
            <span class="dashboard-dark-pop-up-manage-sprint-text14">
              <span>Completed</span>
            </span>
          </div>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/1d61f43d-3b6b-4cf4-8142-9f360e50cac8?org_if_sml=1547"
            alt="Rectangle464157"
            class="dashboard-dark-pop-up-manage-sprint-rectangle46"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/86a5fcf4-d5a9-4179-a115-3ce187ec79a0?org_if_sml=1547"
            alt="Rectangle644963"
            class="dashboard-dark-pop-up-manage-sprint-rectangle64"
          />
          <span class="dashboard-dark-pop-up-manage-sprint-text16">
            <span>Task 5</span>
          </span>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/d625bd3d-b475-42c1-b603-475e74905854?org_if_sml=1645"
            alt="image124157"
            class="dashboard-dark-pop-up-manage-sprint-image12"
          />
          <div class="dashboard-dark-pop-up-manage-sprint-status2">
            <span class="dashboard-dark-pop-up-manage-sprint-text18">
              <span>Not Started</span>
            </span>
          </div>
          <span class="dashboard-dark-pop-up-manage-sprint-text20">
            <span>Task 7</span>
          </span>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/388fa893-d22c-415c-8889-e9d440470fff?org_if_sml=1645"
            alt="image134157"
            class="dashboard-dark-pop-up-manage-sprint-image13"
          />
          <div class="dashboard-dark-pop-up-manage-sprint-status3">
            <span class="dashboard-dark-pop-up-manage-sprint-text22">
              <span>Not Started</span>
            </span>
          </div>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/0ed02331-bb9f-45c2-941f-b90a53217ad5?org_if_sml=1181"
            alt="Rectangle564158"
            class="dashboard-dark-pop-up-manage-sprint-rectangle56"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/3f7d40d0-fb5c-4245-b4bc-a121a69461bd?org_if_sml=1179"
            alt="Rectangle604158"
            class="dashboard-dark-pop-up-manage-sprint-rectangle60"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/e8059236-d54c-4ba0-a9c5-9d0d559ff803?org_if_sml=1179"
            alt="Rectangle614158"
            class="dashboard-dark-pop-up-manage-sprint-rectangle61"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/1d21437b-aafc-4bdc-81d6-026833621bbc?org_if_sml=1181"
            alt="Rectangle574158"
            class="dashboard-dark-pop-up-manage-sprint-rectangle57"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/b49b0cbf-48b0-4e36-8e8e-567b9562eeac?org_if_sml=1547"
            alt="Rectangle264156"
            class="dashboard-dark-pop-up-manage-sprint-rectangle26"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/6e8a3865-60fb-4d06-b160-6b8c977331fa?org_if_sml=1547"
            alt="Rectangle274156"
            class="dashboard-dark-pop-up-manage-sprint-rectangle27"
          />
          <span class="dashboard-dark-pop-up-manage-sprint-text24">
            <span>Task 1</span>
          </span>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/01f4942f-e6c3-4972-9a08-49ee5ca8b0af?org_if_sml=1645"
            alt="image24156"
            class="dashboard-dark-pop-up-manage-sprint-image2"
          />
          <div class="dashboard-dark-pop-up-manage-sprint-status4">
            <span class="dashboard-dark-pop-up-manage-sprint-text26">
              <span>Not Started</span>
            </span>
          </div>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/27f31a3e-1011-4733-8583-8f0c3f408eed?org_if_sml=1547"
            alt="Rectangle284156"
            class="dashboard-dark-pop-up-manage-sprint-rectangle28"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/6ce19175-d9a1-4f0f-b668-b57a9d3aa048?org_if_sml=1547"
            alt="Rectangle294156"
            class="dashboard-dark-pop-up-manage-sprint-rectangle29"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/a069053e-a7f5-4ac0-bb75-54468bbbfe4b?org_if_sml=1547"
            alt="Rectangle654963"
            class="dashboard-dark-pop-up-manage-sprint-rectangle65"
          />
          <span class="dashboard-dark-pop-up-manage-sprint-text28">
            <span>Task 3</span>
          </span>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/2f33af2c-857b-4dc3-8b79-46746e82924a?org_if_sml=1645"
            alt="image34156"
            class="dashboard-dark-pop-up-manage-sprint-image3"
          />
          <div class="dashboard-dark-pop-up-manage-sprint-status5">
            <span class="dashboard-dark-pop-up-manage-sprint-text30">
              <span>Not Started</span>
            </span>
          </div>
          <span class="dashboard-dark-pop-up-manage-sprint-text32">
            <span>Task 6</span>
          </span>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/2fd50552-e77a-4f1f-ba3a-254b88e4f4da?org_if_sml=1645"
            alt="image44157"
            class="dashboard-dark-pop-up-manage-sprint-image4"
          />
          <div class="dashboard-dark-pop-up-manage-sprint-status6">
            <span class="dashboard-dark-pop-up-manage-sprint-text34">
              <span>Not Started</span>
            </span>
          </div>
          <div
            class="dashboard-dark-pop-up-manage-sprint-linear-astronomy-star-circle"
          ></div>
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/512d8bdd-a3cb-4d26-8c2a-d4bf79c9b262?org_if_sml=1178"
            alt="Rectangle534158"
            class="dashboard-dark-pop-up-manage-sprint-rectangle53"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/c71b728e-38a8-4337-921a-0bd07a5b1877?org_if_sml=1181"
            alt="Rectangle544158"
            class="dashboard-dark-pop-up-manage-sprint-rectangle54"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/80fd7abc-0871-45cb-be97-5e46604237eb?org_if_sml=1179"
            alt="Rectangle554158"
            class="dashboard-dark-pop-up-manage-sprint-rectangle55"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/b4dea039-6ee2-435c-9ce5-4efce5ed26e5?org_if_sml=1788"
            alt="flagiconicons14963"
            class="dashboard-dark-pop-up-manage-sprint-flagiconicons1"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/fc63a25e-2128-4ebb-8bd7-77c5def302b7?org_if_sml=1804"
            alt="flagiconicons44963"
            class="dashboard-dark-pop-up-manage-sprint-flagiconicons4"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/abb202a5-2f17-4636-baea-a49e7292506f?org_if_sml=1739"
            alt="flagiconicons64963"
            class="dashboard-dark-pop-up-manage-sprint-flagiconicons6"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/6fba7d7f-e402-4a48-83c0-f438abcbbbb8?org_if_sml=1739"
            alt="flagiconicons74963"
            class="dashboard-dark-pop-up-manage-sprint-flagiconicons7"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/e1ac5978-0e3f-475f-adc0-584d8075624c?org_if_sml=1895"
            alt="flagiconicons54963"
            class="dashboard-dark-pop-up-manage-sprint-flagiconicons5"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/1495d903-1b9b-49ca-9fb9-d20cad022207?org_if_sml=1788"
            alt="flagiconicons24963"
            class="dashboard-dark-pop-up-manage-sprint-flagiconicons2"
          />
          <img
            src="https:/aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a09f2969-09bc-4eb1-8ae9-8d143cdeae95/1b201851-8f72-40c9-9685-ae7903bc3322?org_if_sml=1895"
            alt="flagiconicons34963"
            class="dashboard-dark-pop-up-manage-sprint-flagiconicons3"
          />
        </div>
      </div>
    </div>
  </body>
</html>
